body {
    background: rgb(197, 212, 208);
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
}

h1 {
    top: -2%;
    left: 1%;
    position: absolute;
    text-align: left;
}

h2 {
    position: relative;
    top: 15%;
    left: 10%;
}

p {
    position: relative;
    left: 10%;
    top: 15%;
}
.ScrollControl{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100vw;

    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.Page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    scroll-snap-align: start;
}

.TextQuadrant{
    position: relative;
    justify-content: center;
    max-width: 1000px;
}


.ImageQuadrant {
    display: flex;
    justify-content: right;
    align-items: center;
}

.ImageQuadrant img{
    position: relative;
    top: 0;
    border-radius: 50% 0 0 50%;
    height: 100vh;
    width: 24vw;
    object-fit:cover;
}